{% extends "layouts.html" %}
<title>Expenditure</title>
{% block body %}
<h1>Expenditures</h1>

<div class="card" style="width: 50rem;float: center;margin: auto;">
    <div class="card-body">
        <h5 class="card-title"><span class="badge badge-secondary">Allowance</span></h5>
        <div class="card-text">$50</div>
    </div>
</div>

<div class="card" style="width: 50rem;float: center;margin: auto;margin-top: 50px">
    <div class="card-body">
        <h5 class="card-title"><span class="badge badge-secondary">Food Item</span></h5>
        <div class="card-text">Apple</div>
        <hr>
        <h5 class="card-title"><span class="badge badge-secondary">Food Item</span></h5>
        <div class="card-text">Add Item<img src="../static/img/add.png" style="width: 20px; length: 20px;margin-left: 20px;"></div>
    </div>
</div>
Your set allowance for 1 week :$50

Add Food Item

{% endblock %}